.navbar {
  position: relative;
}

  .settings, .social-buttons {
    position: absolute;

    display: flex;
    justify-items: center;
    align-items: center;

    height: 100%;
  }

    .settings {
      top: 0;
      left: 0;
      transform: rotateY(-50%);
    }

      .setting-label {
        font-size: 1rem;
        width: 6rem;
        text-align: center;
      }

      .setting-item.input,
      .setting-item.select {
        font-size: 1rem;
      }

        .setting-item.input {
          width: 5rem;
        }

        .setting-item.select {
          width: 10rem;
        }

    .social-buttons {
      top: 0;
      right: 1rem;
      transform: rotateY(-50%);
    }
