.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

  .chakra-tabs__tablist.css-dimqmj,
  .editor .navbar {
    height: 6vh;
  }

  .editor .CodeMirror {
    font-family: "agave", "Cica";
    height: 94vh;
  }

@media screen and (max-width: 1050px) {
  .editor {
    overflow: hidden;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .left, .right {
    width: 100vw;
  }

  .editor .CodeMirror {
    height: 44vh;
  }
}