.editor {

}

  .editor .font-selector {
    font-size: 1.5rem
  }

  .chakra-tabs__tablist.css-dimqmj {
    height: 5vh;
  }

  .editor .settings {
    height: 5vh;
    font-size: 1.5rem;
  }

  .editor .CodeMirror {
    font-family: Monaco, 'Andale Mono', 'Lucida Console', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
    font-size: 14pt;
    height: 95vh;
  }
