.navbar {
  position: relative;
}

  .settings, .social-buttons {
    position: absolute;

    display: flex;
    justify-items: center;
    align-items: center;

    height: 100%;
  }

    .settings {
      top: 0;
      left: 0;
      transform: rotateY(-50%);
    }

      .setting-label {
        font-size: 1rem;
        width: 6rem;
        text-align: center;
      }

      .setting-item.reverse,
      .setting-item.input,
      .setting-item.select {
        font-size: 1rem;
      }

        .settings-item.reverse {
          width: 7rem;
          height: 2rem;
          border-radius: 10%;
          background-color: #edf2f6;
        }

        .setting-item.input {
          width: 5rem;
        }

        .setting-item.select {
          width: 10rem;
        }

    .reverse-button {
      display: none;
    }

    .social-buttons {
      top: 0;
      right: 1rem;
      transform: rotateY(-50%);
    }

      .share-button, .github-button {
        margin: 0 0.5rem 0 0.5rem;
      }

      .css-v4spno {
        width: 10vw !important;
      }

      .share-popver-body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
      }

      .icon-arrows-cw::before,
      .icon-twitter::before,
      .icon-facebook-official::before,
      .icon-get-pocket::before,
      .icon-github-circled::before,
      .icon-share::before {
        font-size: 150%;
      }

      .icon-arrows-cw::before {
        content: 'ENG \e800  JPN';

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: bold;
        width: 100%;
        height: 100%;

        cursor: pointer;
      }

        input.reverse-button:checked ~ .icon-arrows-cw::before {
          content: 'JPN \e800  ENG';
        }

      .icon-twitter { color: #00acee; }
      .icon-facebook-official { color: #3B5998; }
      .icon-get-pocket { color: #ee4056; }
